@require './palette'

.content
  padding: 3rem
  a
    font-weight 500
    color var(--accentColor)
    text-decoration none
    transition color .5s ease-in-out

  p a code
    font-weight 400
    color var(--accentColor)
    transition color .5s ease-in-out

  kbd
    background #eee
    border solid 0.15rem #ddd
    border-bottom solid 0.25rem #ddd
    border-radius 0.15rem
    padding 0 0.15em

  blockquote
    font-size .9rem
    color #999
    border-left .5rem solid #dfe2e5
    margin 0.5rem 0
    padding .25rem 0 .25rem 1rem
    & > p
      margin 0

  ul, ol
    padding-left 1.2em
    li
      font-size 1em
      color var(--textColor)
      transition color .5s ease-in-out

  strong
    font-weight 600

  h1, h2, h3, h4, h5, h6
    color var(--titleColor)
    font-weight 600
    line-height 1.25
    transition color .5s ease-in-out
    &:hover .header-anchor
      opacity: 1

  h1
    margin: 2rem 0
    font-size 2.2rem

  h2
    margin: 2rem 0 1rem
    font-size 1.65rem

  h3
    margin: 1rem 0
    font-size 1.35rem

  h4
    margin: .5rem 0
    font-size 1.3rem

  h5
    margin: .5rem 0
    font-size 1.2rem

  h6
    margin: .5rem 0
    font-size 1rem

  a.header-anchor
    font-size 0.85em
    float left
    margin-left -0.87em
    padding-right 0.23em
    margin-top 0.125em
    opacity 0
    &:hover
      text-decoration none

  code, kbd, .line-number
    font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

  p, ul, ol
    margin: .6rem 0
    line-height 1.6

  p
    font-size 1.1rem
    color var(--textColor)
    transition color .5s ease-in-out
    img
      max-width: 100%

  hr
    border 0
    border-top 1px solid var(--borderColor)
    transition border .5s ease-in-out

  table
    border-collapse collapse
    margin 1rem 0
    display: block
    overflow-x: auto

  tr
    border-top 1px solid #dfe2e5
    &:nth-child(2n)
      background-color #f6f8fa

  th, td
    border 1px solid #dfe2e5
    padding .6em 1em

  .theme-container
    &.sidebar-open
      .sidebar-mask
        display: block
    &.no-navbar
      .content:not(.custom) > h1, h2, h3, h4, h5, h6
          margin-top 1.5rem
          padding-top 0
      .sidebar
        top 0
@media (max-width $phoneWidth)
  .content
    padding: 1rem 0