.flex-xb
  display flex
  justify-content space-between
.flex-xbc
  display flex
  justify-content space-between
  align-items center
.flex-xcc
  display flex
  justify-content center
  align-items center

.flex-y
  display flex
  flex-direction column
.flex-ysc
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
.flex-yb
  display flex
  flex-direction column
  justify-content space-between
.flex-ycc
  display flex
  flex-direction column
  justify-content center
  align-items center

.flex-w
  display flex
  flex-wrap wrap
.flex-wac
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items center
.flex-wbc
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items center
.flex-wcc
  display flex
  flex-wrap wrap
  justify-content center
  align-items center