.flex-x
  display flex
.flex-y
  display flex
  flex-direction column
.flex-cb
  display flex
  flex-direction column
  justify-content space-between
.flex-csc
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
.flex-cbc
  display flex
  flex-direction column
  justify-content space-between
  align-items center
.flex-ccc
  display flex
  flex-direction column
  justify-content center
  align-items center
.flex-cw
  display flex
  flex-direction column
  flex-wrap wrap
.flex-a
  display flex
  justify-content space-around
.flex-ac
  display flex
  justify-content space-around
  align-items center
.flex-as
  display flex
  justify-content space-around
  align-items flex-start
.flex-b
  display flex
  justify-content space-between
.flex-bc
  display flex
  justify-content space-between
  align-items center
.flex-bs
  display flex
  justify-content space-between
  align-items flex-start
.flex-c
  display flex
  justify-content center
.flex-cc
  display flex
  justify-content center
  align-items center
.flex-cs
  display flex
  justify-content center
  align-items flex-start
.flex-w
  display flex
  flex-wrap wrap
.flex-wa
  display flex
  flex-wrap wrap
  justify-content space-around
.flex-wac
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items center
.flex-was
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items flex-start
.flex-wb
  display flex
  flex-wrap wrap
  justify-content space-between
.flex-wbc
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items center
.flex-wbs
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items flex-start
.flex-wc
  display flex
  flex-wrap wrap
  justify-content center
.flex-wcc
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
.flex-wcs
  display flex
  flex-wrap wrap
  justify-content center
  align-items flex-start
.reverse-x
  flex-direction row-reverse
.reverse-y
  flex-direction column-reverse
.reverse-w
  flex-wrap wrap-reverse
