// colors
$accentColor = #3eaf7c
$titleColor = #333
$textColor = #2c3e50
$borderColor = #eaecef
$bgColor = #f4f8fb
$codeBgColor = #282c34
$arrowBgColor = #ccc
$shadowColor = rgba(0, 0, 0, .3)
$maskColor = rgba(0, 0, 0, 0.6)
$whiteColor = #fff
$blackColor = #000
$transColor = transparent

// size
$mainWidth = 68.75rem
$phoneWidth = 37.5rem
$headerHeight = 3.5rem
$coverHeight = 25rem
$listCardHeight = 19rem
$lineNumbersWrapperWidth = 2.5rem
